[2019-06-18 14:17] zshi-redhat opened #4 "resource injector overwrites user specified resource limit/request"
When a pod spec already has resource limit and request configured for cpu or memory, network-resources-injector will overwrites cpu/memory resources in the pod spec and only add device plugin resourceName in pod resource field.

For example, when creating a pod with below spec file using network-resources-injector:
[code]

The deployed pod spec will be:
[code]

[2019-06-19 07:27] przemeklal commented on #4
Hey @zshi-redhat I'll look into this

[2019-06-19 08:07] przemeklal commented on #4
OK, PR submitted, should work as intended now.

[2019-06-24 22:49] zshi-redhat commented on #4
Issue solved with above PR, closing...

[2019-06-24 22:49] #4 closed

[2019-07-02 14:21] pperiyasamy opened #10 "Set http(s) proxy and/or no_proxy appropriately in build-image.sh"
The build-image.sh sets docker build arguments with http(s) proxy and no proxy though these are not set in a test environment which makes `make image` step fail as part of network-resources-injector installation.

Please set those parameters only if these are defined in system env variables.

[2019-07-02 16:03] pperiyasamy opened #11 "resource injector doesn't honor the capacity for resources"
I've set capacity for a resource called intel_sriov_netdevice as 4 (like below), but when pods are created with same network more than 5, it doesn't throw any error.
It just goes on and boot the pod with remaining available devices which matches selection criteria.

[code]

[2019-07-03 07:09] przemeklal commented on #10
Hi @pperiyasamy, I'm sorry but I couldn't reproduce it, I tried to run `make image` on a system without proxy env variables (no proxy settings in the ~/.docker/config.json either) and it builds just fine. Are you sure that proxy env variables are the root cause here?

[2019-07-03 07:17] przemeklal commented on #11
Hey @pperiyasamy, if you see the pod being scheduled despite missing resources, then most likely the resources weren't injected into the pod spec. Could you please provide below details so that we can determine whether this is legitimate bug:
- logs of the network-resources-injector (by default `kubectl logs -n kube-system network-resources-injector`)
- net-attach-def object spec
- pod spec of a r

[2019-07-03 07:44] pperiyasamy commented on #10
Hi @przemeklal Our test setup is running without http proxy, so when i ran `make image` , then http gateway timeout error is seen while downloading docker images. After removing --build-arg parameters in [build-image.sh](https://github.com/intel/network-resources-injector/blob/master/scripts/build-image.sh), then it started working fine.  hence i thought these parameters should be set only when re

[2019-07-03 08:14] pperiyasamy commented on #11
[code]

[code]

[code]

Actually there are enough resources, There are 6 pci devices (out of this, 2 VF devices belong to ens3f2 pf) bound to i40evf driver. as per the configuration below, my expectation is 4 devices should get allocated to intel_sriov_netdevice due to resource injector capacity configuration and remaining 2 devices (due to pfNames in selectors criteria) are allocated to intel_sri

[2019-07-03 09:50] przemeklal commented on #11
@pperiyasamy okay, so if you have 6 resources available then everything works as expected.

Capacity isn't controlled by the network resources injector or isn't used in any way to be fair.

Injector is just a small handy tool that looks up what net-attach-defs have been requested, checks if there are any resources linked to it and injects them as necessary. Resources don't have to be available or

[2019-07-03 09:53] przemeklal commented on #10
Interesting - I'll look into this, should be easy to fix.

[2019-07-04 09:23] pperiyasamy commented on #11
Thanks @przemeklal . In that case, can you just remove those details from https://github.com/intel/network-resources-injector#network-resources-injection-example ?

[2019-07-04 11:36] przemeklal commented on #11
I think we should update it to show how it's supposed to work with the actual device plugin and/or move this basic example somewhere else - anyway thanks for suggestion.

[2019-07-08 14:43] #10 closed

[2019-11-08 20:18] vpickard opened #16 "SR-IOV network resources injector cannot parse multiple ip addresses in ipam config"
When configuring ips via pod annotation, SR-IOV injector cannot parse net-attach-def with an array of ip list, which result in SR-IOV resource request/limit not be injected in pod spec. The pod can still be created successfully, but no SR-IOV interface is attached.

1. create sriov-net1 net-attach-def

apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: sriov-net1

[2019-11-08 20:18] vpickard commented on #16
https://github.com/intel/network-resources-injector/pull/15

[2019-11-08 20:19] vpickard commented on #16
[root@vpickard-k8s deployments]# kubectl exec -it pod-sriov-vf sh
sh-4.2# ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
3: eth0@if49:

[2019-11-12 14:35] pperiyasamy opened #17 "network-resources-injector doesn't work in multinode cluster"
I've created 2 node k8s cluster (v1.16.2) and installed sriov network device plugin, sriov cni plugin and network-resource-injector with required cpu and topology manager settings.
Now when dpdk pod is created with k8s.v1.cni.cncf.io/networks annotation for injecting the VF device, it works on master (also acts as worker) and not on the another worker node (pod is actually running, but without VF

[2019-11-12 14:53] #16 closed

[2019-11-12 15:30] pperiyasamy commented on #17
Please hold on. Looks something got broken in my cluster and will update whether this issue is still seen or not.

[2019-11-12 16:03] pperiyasamy commented on #17
Oops, somehow network-resource-injector pod wasn't running properly on the cluster. This caused the problem. Hence closing the issue.

[2019-11-12 16:03] #17 closed

[2020-02-25 15:31] pperiyasamy opened #18 "Support for user configurable resource name keys"
The network-resources-injector currently supports only one resource (per network) defined with resource name key `k8s.v1.cni.cncf.io/resourceName` which makes difficult to provide two distinct resources in the same network attachment definition object. Please refer to [ovs-cni issue](https://github.com/kubevirt/ovs-cni/issues/107) for more details.
Hence I would to enhance network-resources-inject

[2020-02-28 14:14] pperiyasamy commented on #18
addressed in pr #19

[2020-03-01 01:26] zshi-redhat commented on #18
@pperiyasamy what's the use case for one net-attach-def to have two distinct resources? Does the network defined in net-attach-def need to configure two devices for a Pod? Could that be done by having two net-attach-def attached to the same Pod?

[2020-03-02 10:14] pperiyasamy commented on #18
@zshi-redhat There is a need of two resources (VF resource pool and OVS bridge) in a net-attach-def object for attaching [Mellanox ConnectX 5 smartNIC VFs](https://www.mellanox.com/related-docs/prod_software/ASAP2_Hardware_Offloading_for_vSwitches_User_Manual_v4.4.pdf) into pod container.
The VF resource pool is for the device plugin to allocate a VF device inside the container and OVS bridge name

[2020-03-02 10:42] zshi-redhat commented on #18
@pperiyasamy @phoracek  My udnerstanding is that VF representor is 1:1 mapped to a VF device, there is essentially one network/interface attached to Pod.  Why not use ovs-cni to take care of plugging of both devices like how ovn-kubernetes does?

Also adding @dougbtv who might have more insight on standardizing the use of `k8s.v1.cni.cncf.io/resourceName` in NPWG. Not sure if it's allowed to have

[2020-03-02 10:50] phoracek commented on #18
@zshi-redhat OVS CNI uses `resourceName` and resource injector to make sure to schedule Pods on Nodes with the requested bridge available. It does not inject the bridge into the Pod, we just use this mechanism to handle scheduling. This is for vanilla OVS CNI.

With HW offload, we need to A) schedule the Pod on a Node with the bridge available and B) schedule the Pod on a node with the VF availabl

[2020-03-02 11:58] pperiyasamy commented on #18
@phoracek you are correct.
We can also make sure that OVS bridge is created on the node(s) where these device pool would be available through provisioning tool and just refer to  device pool name with `k8s.v1.cni.cncf.io/resourceName` in net-attach-def object.
But this addition with network-resources-injector ensures everything in place on the node to schedule a pod and helps to detect any misconf

[2020-03-02 12:38] zshi-redhat commented on #18
Right, OVS CNI adds VF representor device into OVS bridge, it doesn't attach actual VF device to Pod (which I assume is done by SR-IOV CNI ?). My question is should the work (moving actual VF to Pod) also be done by OVS-CNI? Is it possible?

If OVS and VF pool are required to run OVS HW Offload, should user guarantee the two are available on node during deployment or provisioning with a high-level

[2020-03-02 12:46] zshi-redhat commented on #18
Yes, if OVS HW offload is expected to be used in cluster, then OVS bridge and device pool need to be created first on the same node to avoid scheduling problem. Then it becomes a installer issue not network-resoruce-injector. If ovs brdige is a limited resource in the deployment, it sounds to me that you probably need a device plugin to manage ovs resource.

[2020-03-02 12:55] zshi-redhat commented on #18
/cc @moshe010

[2020-03-02 13:11] pperiyasamy commented on #18
/cc @JanScheurich

[2020-03-02 22:53] JanScheurich commented on #18
The latest OVS CNI already attaches the actual Mellanox VF netdev to the pod. The SRIOV CNI does not play a role here.

Yes, for OVS HW off-load to work, the operator needs to consistently configure an OVS bridge and the corresponding VF device pool in the SRIOV network device plugin. I believe a higher-level operator is called for here to automate correct configuration of all parts.

If the syste

[2020-03-03 09:22] moshe010 commented on #18
@zshi-redhat, it seem kubervirt has [1] a bridge resource which exposes available Open vSwitch nodes as node resources. I comment on the ovs-cni issue to better understand why it implemented like this and not with nfd for example.

@zshi-redhat , What is you main objections to inject more then one resources to the same network? it it just the use-case?

[1] - https://github.com/kubevirt/ovs-cni/bl

[2020-03-03 10:06] zshi-redhat commented on #18
I think this might not be a typical use of net-attach-def which requires two `devices` for one network and the major concern is if I were to consider using it with NPWG compliant meta plugin like Multus for additional network, Multus doesn't have ability to read other resource annotations from net-attach-def as it assumes one device per network.  but on the other hand, I don't know if ovs-cni will

[2020-03-05 11:59] JanScheurich opened #20 "Conceptual problem: Pods still need to know device pool names"
In our understanding the main purpose of the Network Resources Injector is to hide the complexity of PCI network device resource management from application pods. Pods just refer to the NADs in their pod annotations and leave the resource handling to the network resources injector, network device plugin, device manager and scheduler.

However, this abstraction breaks because the only way for a pod

[2020-03-06 10:29] pperiyasamy commented on #20
/cc @dougbtv @s1061123

[2020-03-06 10:59] JanScheurich commented on #20
NB: For Mellanox VF PCI devices, the identification problem can be solved as these are always bound to their kernel driver and visible as network devices in the pod namespace, even when used as DPDK interfaces. A simple call to "ethtool -i" reveals the PCI address:

testpmd0:~ # ethtool -i net1
driver: mlx5_core
version: 4.7-3.2.9
firmware-version: 16.26.4012 (MT_0000000012)
expansion-rom-version:

[2020-03-09 12:28] zshi-redhat commented on #20
I don't know if there is any easy way for Multus to update env var for container/pod.
Another approach might be to have Multus update the mapping between NAD and DeviceID in pod network-status annotation and use downward API volume to map pod annotation to container/pod as file or env variable. Application can parse the mapped file or env variable to get the right info.

[2020-03-09 12:58] JanScheurich commented on #20
@zshi-redhat: Could Multus still add pod annotations when executing? Through the kubeclient? And yes, would such updated pod annotations be visible to the containers through the downward API volume?

[2020-03-09 13:04] zshi-redhat commented on #20
Yes, that's how Multus publishes network-status to pod annotation, through kubeclient.
If downward API volume is injected using network-resources-injecotr, then pod annotation will be continuously updated to container via downward API.

[2020-03-09 15:29] pperiyasamy commented on #20
@zshi-redhat Thanks! Let's propose a PR in multus-cni updating pod annotations for network name to device id(s).

[2020-03-09 16:33] JanScheurich commented on #20
We looked at the existing network-status annotation. The cleanest way would in our opinion be to add an optional device_id field to the JSON map that Multus could populate if a net-attachment is associated with a PCI device. Is that possible?

We understand that the network status struct may be governed by the K8sNWPGs type definition (https://github.com/k8snetworkplumbingwg/network-attachment-def

[2020-06-09 18:16] akalambu commented on #20
Would this patch only update the network status with DeviceID only when explicitly asked for it from NAD?
Because in case of fail over the PCI address would change. So wondering if i have a NAD for SRIOV/DPDK and dont specify the DeviceID can i use these patches to gather the DeviceID to network name mapping

[2020-07-13 03:49] zshi-redhat opened #24 "Build error due to incompatible client-go version"
Run make against latest master branch (1ea450de8cec4ac4d409d5bf2c5d1f31d8610984)
$ make

[code]

[2020-07-13 09:29] zshi-redhat opened #26 "network resources injector cannot handle pods from deployment properly"
network resources injector inspects the net-attach-def and injects the sriov resource request to pod resource request/limits. It works perfectly with a pod, but has issues dealing with a deployment pod in a non-default namespace.

The workflow of network resources injector is:
1) watch the creation/update of *pod*
2) receive AdmissionReview request
3) deserialize pod object from AdmissionReview re

[2020-07-13 11:41] #24 closed

[2020-07-20 14:31] ahalim-intel commented on #26
cc @przemeklal
PTAL

[2020-08-04 09:37] pperiyasamy commented on #26
@zshi-redhat @przemeklal Let me have a look at this issue and propose a fix (with 1st approach).

[2020-08-05 06:53] JanScheurich commented on #26
Is it a bug or a feature of K8s that a pod of a deployment does not inherit the namespace of its deployment?

[2020-08-05 07:48] pperiyasamy commented on #26
@JanScheurich AFAIK, the pod replica doesn't have a namespace when its admission review request is received on the webhook, so NRI must rely on the namespace set at the deployment level so that net-attach-def object can be queried from the appropriate namespace. I'm already working on a patch for it.
But I can see pod replica has namespace set once it is deployed on the node.

[2020-08-05 08:13] JanScheurich commented on #26
@pperiyasamy Good to know that the deployment pod eventually inherits the deployment's namespace, but I still consider it strange that the deployment control loop does not set the namespace initially when it creates the pod in the first place, which, I assume, is what triggers the NRI pod admission controller webhook.

[2020-08-05 15:15] pperiyasamy commented on #26
Yes @JanScheurich ,  you are correct, This seems to be a k8s bug. But anyway I've raised a PR #28 in NRI to solve this. Please have a look.

[2020-08-24 09:52] pperiyasamy opened #30 "Honor the existing resources"
There are use cases where same resource pool name is consumed by different co existing network plugins (example: using both multus and [networkservicemesh](https://github.com/networkservicemesh/networkservicemesh)). In case of multus specific network attachment, network-resources-injector can be used to add resources request/limit depending on the `k8s.v1.cni.cncf.io/resourceName` annotation in th

[2020-08-28 08:26] pperiyasamy commented on #30
The use case document is available [here ](https://drive.google.com/file/d/16LoJBVr3PEH9MNlvXpNPQCy9MEEk-uT1/view).  Please have a look at Page 6 `FE NSE (Front End Network service endpoint)` Pod container having two smartvf interfaces `(to_gw and net1)` attached from the same resource pool. The to_gw is attached via `networkservicemesh `where as net1 is attached via `ovs-cni `(a multus type).

[2020-09-18 12:39] pperiyasamy commented on #26
@zshi-redhat , As PRs #28 and #31 fixe this issue, can we close it ?

[2020-09-18 12:41] pperiyasamy commented on #18
The PR #19 addresses this issue, closing the issue.

[2020-09-18 12:41] #18 closed

[2020-09-18 12:45] pperiyasamy commented on #11
This issue is same as the issue #30  and addressing it with this PR #29, so closing this issue.

[2020-09-18 12:45] #11 closed

[2020-09-18 13:02] pperiyasamy commented on #20
The spec proposal for adding device id into network status pod annotation is underway in this [document ](https://docs.google.com/document/d/1rBm-L1ymXIjoKNA6w2lixwBAjt9-tnbs-ee7AcLRbVE/edit#heading=h.1bflt0ii8e9d). The implementation will follow across components like network-attachment-definition-client, sriov-network-device-plugin, multus-cni and plugins.

once that's available, pod container c

[2020-09-18 14:39] JanScheurich commented on #20
@pperiyasamy Yes, I agree to close this bug with reference to systemized solution agreed in NWPWG.

[2020-09-18 14:39] #20 closed

[2020-09-21 00:39] zshi-redhat commented on #26
yes.

[2020-09-21 00:39] #26 closed

[2020-11-20 13:13] martinkennelly opened #40 "Remove .idea & .gopath"
### What happened?
Both directories .idea and .gopath should not be in the code base. .idea is specific to a jetbrains product and .gopath is no longer needed due to go mod support

### What did you expect to happen?
NA
### What are the minimal steps needed to reproduce the bug?
NA
### Anything else we need to know?
Will be corrected in PR.

[2020-11-20 14:05] #40 closed

[2020-12-03 16:56] Billy99 opened #43 "Downward API Injection: Errors if Downward API already exists"
The code blindly injects Downward API fields without checking to see if they already exists in the Pod Spec. Need to logic to make sure it doesn't already exist before adding.

[2020-12-03 16:59] Billy99 opened #44 "Downward API Injection: Multiple containers in pod don't work"
If there multiple containers in a pod that need Downward API fields injected, it doesn't work. There is logic in code that only looks at `pod.Spec.Containers[0]`.

[2020-12-03 17:04] Billy99 opened #45 "Downward API Injection: Hugepage injection doesn't work with mult container"
On top of Issue #44 (Downward API Injection: Multiple containers in pod don't work), when manually adding hugepage fields to the Downward API for multiple containers, the same value is reported in each container, even if the requests are different. This is most likely a Kubernetes issue (will update with issue link when issue is found), but tracking here for documentation of issue.

[2020-12-14 13:30] martinkennelly opened #48 "NRI doesn't catch termination signals and end"
### What happened?
NRI doesn't catch and end cleanly when termination signals are received.
### What did you expect to happen?
NRI catches ```SIGTERM```, ```SIGHUP```, ````SIGINT```, ```SIGQUIT``` and  ends.

[2020-12-15 19:59] #45 closed

[2020-12-18 19:14] martinkennelly opened #49 "No documentation for Node Selector feature"
### What is wrong?
No documentation for new node selector feature
Will fix in PR.

[2020-12-21 11:51] pperiyasamy commented on #44
@Billy99 Can I work on a PR for injecting podnetinfo into multiple containers ? Please let me know.

[2020-12-21 13:08] Billy99 commented on #44
@pperiyasamy  Yes, I have not started and won't have time in the near term. While you are looking at logic to walk through the list of containers, may be easy to add logic to address #43 as well (but your call).

[2020-12-21 16:24] pperiyasamy opened #52 "make test fails"
`make test` on NRI fails with following error.

[code]

[2020-12-21 16:44] #49 closed

[2020-12-22 12:35] martinkennelly opened #53 "URLs need to be updated"
**What went wrong?**
Imports and documentation within the repository are referencing the old Intel repository URL.
Will be corrected in following PR.

[2020-12-22 13:52] martinkennelly commented on #52
Confirmed. Thanks Peri.

[2020-12-25 08:25] zshi-redhat opened #56 "Allow control of per-pod injection for a given resource"
In a large cluster, user may want to apply a given NRI injection for certain pods, but not the others.
For example, NRI would inject resource requests/limits to first container in the pod, but this doesn't work for pod with multiple containers (with each requesting a userspace device). So user would like to disable resource injection for muiltiple userspace containers and keep using it for the res

[2020-12-25 09:49] zshi-redhat opened #57 "Support customized injection"
Sometimes, user wants to inject customized content in pod manifest on the fly. For example, adding an additional network by injecting net-attach-defs in pod annotation.

This can be achieved by defining a configMap which contains key:value in its data entry, key is a user defined k8s label, value is the content to be injected in pod manifest. NRI inspects the pod label and inject the corresponding

[2021-01-04 18:21] adrianchiris commented on #57
As discussed in the bi-weekly meeting today, IMO i think its worth limiting the scope of what this configmap can and cannot change. This can later be revisited and extended when more use-cases rise.

[2021-01-07 12:13] #52 closed

[2021-01-12 14:09] #30 closed

[2021-01-15 12:09] martinkennelly commented on #48
I am currently working on fixing this issue.

[2021-01-18 14:35] martinkennelly opened #61 "How can we better handle feature control switches in NRI?"
Currently in pkg/webhook we have defined variables to control whether certain functionality is enabled/disabled:

[code]

As NRI feature-set grows, this approach is unworkable. How can we prevent the growth of variable feature control switches in NRI?

I think it would be better to define a struct or interface and pass it to functions.

[2021-01-20 15:04] pperiyasamy commented on #61
Looks config map would be a good fit for passing these config options like proposal done for issue #57, we could reuse the same config map with adding config.json as below:

[code]

and mount config.json as config-volume inside the NRI pod, load it into a struct and configure the webhook accordingly.

[2021-01-21 10:23] zshi-redhat commented on #61
I think the issue has two aspects, one is to pass config to NRI, the other is to have structured config for various features.

For passing config to NRI,  as @pperiyasamy mentioned, we could use configMap, or environment variable or a regular config file (mounted via volume) or cli cmd options. configMap and regular config file have advantage that features can be toggled on the fly when NRI is run

[2021-01-25 19:45] martinkennelly commented on #61
Proposed Order of Precedence of NRI at start time:
1. CLI flags
2. Env vars
2. ConfigMap
3. Defaults

During run time, configMap updates would override.
I like the sections - Clearer for the user to determine what each key-value is related to.

[2021-01-25 19:46] martinkennelly commented on #53
Completed.

[2021-01-25 19:46] #53 closed

[2021-02-17 13:34] martinkennelly opened #68 "Add GitHub actions to improve code reviews"
Hey all,
Following last weeks community meeting, I have investigated how we can add static analysis, building, testing for each PR or push to this repository.
Heavy inspiration from Multus GAs (Github Actions). Thanks @adrianchiris for letting me know.
Hoping to add e2e tests to this repository as well like what Multus has done with kind.

WDYT?

[2021-03-12 20:03] martinkennelly opened #78 "node selector injection feature doesn't work when ResourceName is not defined in NAD"
Hey,
During e2e testing, we noticed that node selector injection doesn't work when ```resourceName``` is not defined in the NAD.
Works fine when there is an additional network defined.
I believe a use case was when no additional network was defined. i.e. [macvlan](https://github.com/k8snetworkplumbingwg/network-resources-injector/pull/21#issuecomment-597936699)
Documentation example for readme: #5

[2021-03-13 02:09] zshi-redhat commented on #78
My understanding is macvlan is still an additional interface for Pod.

[2021-03-13 10:24] martinkennelly commented on #78
@zshi-redhat apologies. I was inaccurate with my description. See updated message above. I meant when ```resourceName``` is not specified in a NAD, node selection injection is ignored by NRI. For Macvlan NADs, you don't specify ```resourceName```.

[2021-03-13 12:21] pperiyasamy commented on #78
@martinkennelly Sure, I will take a look on this.

[2021-03-13 12:55] zshi-redhat commented on #78
Gotcha, that makes sense. thanks for clarifying!

[2021-03-15 08:56] #57 closed

[2021-03-31 11:04] martinkennelly commented on #61
@zshi-redhat Are you ok with the order of precedence above?

[2021-03-31 12:03] zshi-redhat commented on #61
@martinkennelly the order looks good to me.

[2021-04-07 05:42] MichalGuzieniuk opened #84 "User Defined Injections - documentation is misleading"
The ConfigMap given as an example at https://github.com/k8snetworkplumbingwg/network-resources-injector#user-defined-injections is wrong, and in result it is not possible to take example as it is and verify if User Defined Injections feature of NRI is working correctly.

ConfigMap does not support '/' character. There is an issue described at https://github.com/kubernetes/kubernetes/issues/87119.

[2021-04-07 10:59] MichalGuzieniuk opened #85 "'User Defined Injections' feature is missing access rights to configmap"
**What happened?**
NRI is not able to read configmaps, and in result is not able to inject user defined resources into POD specification.

In logs I see such warning
`W0407 09:50:20.910817       1 main.go:189] Failed to get configmap for user-defined injections: configmaps "nri-user-defined-injections" is forbidden: User "system:serviceaccount:kube-system:network-resources-injector-sa" cannot get

[2021-04-07 11:59] martinkennelly commented on #85
@MichalGuzieniuk  Good stuff finding this. Can you produce a PR to fix this?

[2021-04-08 02:50] #78 closed

[2021-04-08 06:15] MichalGuzieniuk commented on #85
Sure, I will provide a PR with fix.

[2021-04-08 14:52] MichalGuzieniuk opened #86 "'User defined injections' feature does not react on ConfigMap remove"
**Problem:**
After ConfigMap removal labels defined in the POD specification are read by NRI and still processed. In result, annotations are updated even if I as a user does not expect such behaviour.

**Test steps:**
As a precondition NRI is setup, and all networks are available.
1. Add network attachment definitions
2. Add ConfigMap
3. Wait 1 minute - time needed to update POD and NRI
4. Create

[2021-04-09 00:59] zshi-redhat commented on #86
@MichalGuzieniuk Thanks for the testing and reporting the issue!
I think the problem is that when configMap was deleted in step 6, NRI didn't get chance to call `SetCustomizedInjections` to update its internal structure, this results in stale user-defined-injection continue to take effect.

The fix could be to erase the [internal structure](https://github.com/k8snetworkplumbingwg/network-resources

[2021-04-09 08:10] MichalGuzieniuk opened #88 "'User defined injections' feature removes defined network annotations"
**Problem:**
NRI removes **k8s.v1.cni.cncf.io/networks: foo-network** label from annotations even if ConfigMap does not defines any network. In result, POD does not have additional network information.

**Test steps:**
As a precondition NRI is setup, and all networks are available.

1. Add network attachment definition
2. Add ConfigMap
3. Wait 1 minute - time needed to update POD with NRI
4. Creat

[2021-04-09 09:33] zshi-redhat commented on #88
@MichalGuzieniuk  could you capture the network-resources-injector log when above issue happens?

[2021-04-09 12:16] MichalGuzieniuk commented on #88
Logs after cluster initialization
[code]

Additional log after ConfigMap consumption
[code]

Logs after POD creation
[code]

[2021-04-10 11:33] #85 closed

[2021-04-12 09:50] #88 closed

[2021-04-12 09:51] #86 closed

[2021-04-12 15:13] pperiyasamy opened #92 "create new release"
Hi, Can we have a new release on the NRI ? My project team would like to have a new release with this [fix](https://github.com/k8snetworkplumbingwg/network-resources-injector/pull/79).

[2021-04-12 15:15] pperiyasamy commented on #92
/cc @JanScheurich

[2021-04-12 15:35] martinkennelly commented on #92
I think this is a good idea to add a minor release so v1.1. ok with you @zshi-redhat ?

[2021-04-12 15:38] zshi-redhat commented on #92
+1, I was just looking at the history commits and yes, v1.1 makes sense to me.

[2021-04-12 15:46] MichalGuzieniuk opened #93 "User Defined Injections - does not take into account json path operation"
While defining custom data in ConfigMap it is possible to define JSON path operation (add, remove, replace, copy, move). Those operation are not taken into account by NRI.

For instance for ConfigMap
[code]

Original POD specification is not modified
[code]

**Expected** to remove foo-network from POD specification.

Second use case, for ConfigMap, operation add
[code]

and above POD definition, I

[2021-04-12 15:58] martinkennelly commented on #92
@pperiyasamy Done

[2021-04-12 15:58] #92 closed

[2021-04-13 01:10] zshi-redhat commented on #93
@MichalGuzieniuk Thanks for the continued testing!

I only added `add` operation in the initial implemention as that was the use-case I'd like to use.
I think we can take this as a feature enhancement for future release.

Another good catch!
I didn't think of such case, but it sounds reasonable to expect the networks be appended to existing list.
I will consider implementing this along with the fi

[2021-04-13 09:19] MichalGuzieniuk commented on #93
@zshi-redhat Thank you for comment, sound good for me.

[2021-04-13 10:50] MichalGuzieniuk opened #94 "User Defined Injections - injects only one property"
For below ConfigMap, where there is more than one key/value pair NRI injects only one pair into POD specification. I observed that this injection is random. It means that only one of the pair: "top-secret" or "k8s.v1.cni.cncf.io/network" is added to the POD.

[code]

POD specification
[code]

Logs:
[code]

[2021-04-13 13:39] MichalGuzieniuk commented on #61
I'm going to work on this issue. Please comment if someone have something against it.

[2021-04-14 07:23] MichalGuzieniuk commented on #61
Can you explain me why definition of key, pairs for **customInjections** are within proposed proposed config map data section https://github.com/k8snetworkplumbingwg/network-resources-injector/issues/61#issuecomment-764534606 ? I would expect that config map in that case have only control switch to enable or disable **custom injections** or any other feature of NRI. While for instance the user def

[2021-04-14 09:18] zshi-redhat commented on #61
Good question!
While writing that comment, I was thinking putting all the supported configuration in the single configMap. but when I implemented the user-defined-injections, this feature control configMap didn't exist, so I used the separate configMap(nri-user-defined-injections).

For the feature control configmap, I think we can start by adding only enable/disable key/value pairs. then consider

[2021-04-14 15:51] MichalGuzieniuk commented on #61
I read previous comments and tried to create final ConfigMap that would have section for control of features state and in addition possibility to define additional properties for features. Please find it below.

Within this issue, I'm not going to change implementation of for instance _custom injections_. I will focus only on ConfigMap handling and dynamic features toggle. It means that user will

[2021-04-15 13:20] #43 closed

[2021-04-21 08:17] harper1011 opened #95 "Can Network-Resources-Injector(NRI) to be deployed as a deployment"
This is more or less a question toward to NRI:

Currently, according to example from https://github.com/k8snetworkplumbingwg/network-resources-injector/blob/master/deployments/server.yaml, the NRI was deployed as a Pod in K8S cluster.
But in case the node which holding NRI pod got broken or run out of resource, then NIR pod will be deleted/evicted and won't be re-created.

So we would like to know

[2021-04-21 08:23] zshi-redhat commented on #95
Yes, it can be deployed as a k8s deployment.

No particular requirement afaik, we use the NRI before it ever has been released in openshift.
Here is an example of how NRI is deployed in SR-IOV operator: https://github.com/k8snetworkplumbingwg/sriov-network-operator/blob/master/bindata/manifests/webhook/server.yaml

[2021-04-21 08:24] harper1011 commented on #95
Got it, and thanks for your quick answer.

[2021-04-21 08:24] #95 closed

[2021-04-30 13:13] #84 closed

[2021-05-05 09:40] #56 closed

[2021-05-12 09:40] MichalGuzieniuk opened #99 "Resources limit and requests are added only to first container inside POD"
NRI  adds limits and requests to resources section only to first container within POD. Second container resources are not affected.

Test case:
1. Run NRI with flag **-honor-resources**
2. Create foo and boo CRD networks
[code]

[code]

3. Create POD according to below specification
[code]

4. Verify that resources in both containers are updated. **Expected result**
First container
[code]

Second

[2021-05-27 15:35] pperiyasamy opened #101 "resource not injected in a large K8s cluster"
When we bringup a deployment which has 100 pod replicas, then some pods are not created because NRI doesn't inject required SRIOV VF resources into the pod.
From troubleshooting NRI (of course logging has to be improved by writing pod info as well in the logs), it looks NRI takes around 15 secs (because of GC ?) to respond to admission request for the failed pod whereas it just look  around 5 secs

[2021-06-01 08:44] pperiyasamy commented on #101
The fix #103 with Fail policy seem to working fine, I think #102 and #103 are good to go in.
but still we need to figure out if retries happen upon web hook's timeout (not sure if it's done by helm itself), enable profiling for web hook to find out hot spots.

[2021-06-07 07:06] pperiyasamy commented on #101
/cc @janscheurich

[2021-06-07 07:31] JanScheurich commented on #101
@pperiyasamy: 5 seconds for successfully mutated pods seems already long. But 15 seconds is ages. What is going on there? Where does the NRI spend this time?

[2021-06-08 12:11] pperiyasamy commented on #101
@JanScheurich Yes, your suspicion is correct. The retrieval of net-attach-def from k8 for every admission review request causes delay, could reproduce it with single deployment having 100 pod replicas. at times net-attach-def retrieval takes around 5-6 seconds. looks api server imposes rate limiter when requests goes beyond some rate, need to check on that.

can we make NRI to rely on local cache

[2021-06-09 04:26] zshi-redhat commented on #101
I think it makes sense to use cache so that NRI won't query the net-attach-def for every pod creation.
The cached content looks good, since we only care about the net-attach-def annotation (which contains the resource name).

[2021-06-09 07:15] JanScheurich commented on #101
+1 for caching the NAD annotations.

From: zshi ***@***.***>
Sent: Wednesday, 9 June, 2021 06:26
To: k8snetworkplumbingwg/network-resources-injector ***@***.***>
Cc: Jan Scheurich ***@***.***>; Mention ***@***.***>
Subject: Re: [k8snetworkplumbingwg/network-resources-injector] resource not injected in a large K8s cluster (#101)

@JanScheurich<https://protect2.fireeye.com/v1/url?k=8aadb034-d5368905

[2021-06-09 07:46] pperiyasamy commented on #101
thanks all for the feedback, let me work on a PR for implementing a local cache.

[2021-06-10 14:33] #94 closed

[2021-06-28 07:52] #101 closed

[2021-07-05 08:57] pperiyasamy commented on #44
@Billy99 since PR #51 is merged now, can we close this issue ?

[2021-07-05 09:09] pperiyasamy commented on #99
@MichalGuzieniuk all containers in the pod share same network namespace, so I think adding device resource to first container itself would be sufficient.

[2021-07-07 20:39] Billy99 commented on #44
@pperiyasamy Yes, tested and looks good.

[2021-07-07 20:40] #44 closed

[2021-07-09 06:34] zshi-redhat commented on #99
Yes, this is true for kernel interface, every container inside Pod namespace would be able to see the attached sriov device, so it becomes less important on which container the resource are injected to.

@MichalGuzieniuk We do have a problem when the resource is userspace device (e.g. DPDK), in which case, the userspace device mounted the first container is invisible to other containers (in the sa

[2021-07-27 11:49] pperiyasamy commented on #99
NRI mounts `k8s.v1.cni.cncf.io/network-status` annotation (which includes `device-info`) into all containers. wouldn't that suffice (example: to find out pci address of VF)  for userspace device ?

[2021-08-10 10:11] Eoghan1232 opened #111 "Certificates v1beta1 will no longer be support on k8s release 1.22"
K8s release 1.22 onwards, it looks like k8s.io/api/certificates/v1beta1 will not be supported.
NRI will have issues once this happens.

Should we begin upgrading from v1beta1 to v1 for the certificates?

Recently, admission was switched from v1beta1 to v1.
https://github.com/k8snetworkplumbingwg/network-resources-injector/pull/96/files

[2021-08-11 08:24] adrianchiris opened #112 "Add stable tag for network resource injector container"
## What would you like to be added?
Similarly to sriov-network-device-plugin [PR#367](https://github.com/k8snetworkplumbingwg/sriov-network-device-plugin/issues/367) it is desirable to have a stable tag for network-resource-injector container artifacts.

## What is the use case for this feature / enhancement?
Allow consumers to consume latest major version updates without updating their yamls. May

[2021-08-19 08:18] VivekThrivikraman-est commented on #111
From API version certificates.k8s.io/v1 onwards signerName is a required key for CSR's(certificate signing requests) and also they have made multiple built in signers for specific purposes which are supposed to be used for only k8s internal services.
Below are the few options which can be considered :

1. Use k8s internal kubelet-serving signer to sign nri webhook certificate, by making changes to

[2021-08-24 11:10] adrianchiris commented on #111
some more info on the deprecation:

https://kubernetes.io/docs/reference/using-api/deprecation-guide/#certificatesigningrequest-v122

https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/#api-changes

[2021-08-24 14:33] adrianchiris commented on #111
Summary from today's discussion about this issue

Today, NRI supports either providing a signed certificate from an external source using `tls-cert-file`, `tls-private-key-file`
or by generating a certificate request and signing it using k8s signer via k8s certificates/v1beta1 API CertificateSigningRequest object (self approved by NRI).

The latter is no longer available in Kubernetes 1.22.
in k8s

[2021-08-31 04:09] zshi-redhat commented on #111
This proposal sounds good to me, I don't see issues.

We use a dedicated operator to manage the certificate signing activities downstream: https://github.com/openshift/service-ca-operator.

Agreed

[2021-09-09 12:35] VivekThrivikraman-est commented on #111
/assign

[2021-10-13 19:56] e0ne opened #116 "Release network-resources-injector v1.3"
There are [few fixes ](https://github.com/k8snetworkplumbingwg/network-resources-injector/compare/v1.2...master)since the last release. It would be good to make a new release to use it in SR-IOV Network Operator

[2021-10-19 14:27] adrianchiris opened #117 "Create a Deployment yaml for network-resource-injector"
currently our Deployment example cosists of:
- permissions (auth.yaml): service account, roles, clusterRoles, roleBindings, clusterRoleBindings
- pod(server.yaml):
- service (service.yaml): k8s service exposing NRI
- webhook config (webhook.yaml): MutatingWebhookConfiguration

we should have a deployment instead of a pod so that there may be multiple backends to the service as well as have NRI pod

[2021-10-19 14:29] adrianchiris opened #118 "Add Helm Chart"
to facilitate easy deployment and upgrades we should have a helm chart to deploy NRI in cases where it is used without sriov-network-operator.

in addition sriov-network-operator could then deploy network-resource-injector via helm if deemed needed.
(i.e have a dependent chart in sriov-network-operator helm chart)

npwg helm charts are currently hosted in:
https://github.com/k8snetworkplumbingwg/h

[2021-10-19 15:23] VivekThrivikraman-est opened #119 "NRI pod restart not handled"
NRI doesn't currently handle nri pod restarts, if for some reason nri pod gets killed and there are no other nri pods in the cluster, then nri pod(and other pods) would not be able to start as the service serving the nri webhook(which is the nri pod itself) is down(as webhook configuration is still present).

[2021-10-21 01:27] zshi-redhat commented on #119
@VivekThrivikraman-est  Will it work for you if it uses deployment rather than pod to create NRI instances?

[2021-11-22 07:58] #119 closed

[2021-11-28 09:01] adrianchiris commented on #116
network-resources-injector v1.3 has been released !

Thanks all for your contributions !

[2021-11-28 09:01] #116 closed

[2021-12-01 07:54] #61 closed

[2022-05-12 01:36] #117 closed

[2022-06-27 05:24] rthakur-est opened #124 "Health check for webhook server"
Support health check monitoring of NRI webhook server using k8s probes.

[2022-07-17 12:39] #124 closed

[2022-07-25 07:30] esiperu-est opened #126 "Release of Network resources injector"
There are some good fixes since the last release (1.4). Can someone trigger a new release.

[2022-07-26 13:24] adrianchiris commented on #126
@esiperu-est following todays community meeting, we are OK to do a release.

A question:
how are you deploying NRI ? is it using sriov-network-operator ?

[2022-07-27 12:17] esiperu-est commented on #126
Thank you for looking at this quickly and ..

we are deploying NRI as individual deployment.

[2022-08-04 11:48] SchSeba commented on #126
https://github.com/k8snetworkplumbingwg/network-resources-injector/releases/tag/v1.5

[2022-08-04 11:48] #126 closed

[2022-11-07 12:15] vinay50muddu opened #127 "Too wide permissions given to service accounts"
The permissions associated with multiple service accounts needs to be revisited as not all verbs are required in some cases.

[2022-11-23 15:43] SchSeba opened #129 "CI lane is not able to finish the kind deployment"
[code]

https://github.com/k8snetworkplumbingwg/network-resources-injector/actions/runs/3424387347/jobs/5889930696